# Create ArkCase solr cores
---
- name: Check if 'cores' ran previously...
  stat:
    path: "/root/{{ solr_service_name }}/solr7-cores.txt"
  register: cores_step
  become: yes
  become_user: root

- name: Create ArkCase Solr cores
  block:
    - name: Start {{ solr_service_name }}
      shell: "service {{ solr_service_name }} start"
      become: yes
      become_user: root

    - name: Create ArkCase Solr Cores
      become: yes
      become_user: "{{ solr_user }}"
      shell: "{{ solr_bin }} create -c {{ item }} -d {{ solr_home }}/server/solr/configsets/arkcase"
      with_items:
        - "{{ solr_cores }}"
    
    - name: Stop {{ solr_service_name }}
      shell:  "service {{ solr_service_name }} stop"
      become: yes
      become_user: root
    
    - name: Write cores step
      shell: "mkdir -p /root/{{ solr_service_name }} && echo solr7-cores > /root/{{ solr_service_name }}/solr7-cores.txt"
      become: yes
      become_user: root
      set_fact:
        cores_step.stat.exists: True
  when: cores_step.stat.exists == False and install_service_step.stat.exists == True