# Install Solr service
---
- name: Check if 'firewall' ran previously...
  stat:
    path: "/root/{{ solr_service_name }}/solr7-install-service.txt"
  register: install_service_step

- name: Install Solr {{ solr_version }} service
  block:
    - name: Install {{ solr_service_name }} to /etc/init.d
      template:
        src: solr.j2
        dest: "/etc/init.d/{{ solr_service_name }}"
        owner: root
        group: root
        mode: 0755
      become: yes
      become_user: root  
    
    - name: Install Solr Env to {{ solr_install_dir }}/{{ solr_service_name }}
      become: yes
      become_user: "{{ solr_user }}"
      template:
        src: solr.in.sh.j2
        dest: "{{ solr_home }}/bin/solr.in.sh"
        owner: "{{ solr_user }}"
        group: "{{ solr_group }}"
        mode: 0755
    
    - name: Write install-service step
      shell: "mkdir -p /root/{{ solr_service_name }} && echo solr7-install-service > /root/{{ solr_service_name }}/solr7-install-service.txt"
      become: yes
      become_user: root 
  when: install_service_step.stat.exists == False