# Configure JMX
---
- name: Check if 'jmx' ran previously...
  stat:
    path: "/root/{{ solr_service_name }}/solr7-jmx.txt"
  register: jmx_step
  become: yes
  become_user: root

- name: Check if extraction ran previously...
  stat:
    path: "/root/{{ solr_service_name }}/solr7-extract.txt"
  register: extract_step
  become: yes
  become_user: root

- name: Copy JMX access and password
  block: 
    - name: Copy access file
      become: yes
      become_user: "{{ solr_user }}"
      copy:
        src: access.file
        dest: "{{ solr_home }}"
        owner: "{{ solr_user }}"
        group: "{{ solr_group }}"
        mode: 0644
        force: no

    - name: Copy password file
      become: yes
      become_user: "{{ solr_user }}"
      copy:
        src: password.file
        dest: "{{ solr_home }}"
        owner: "{{ solr_user }}"
        group: "{{ solr_group }}"
        mode: 0600
        force: no

    - name: Write jmx step
      shell: "mkdir -p /root/{{ solr_service_name }} && echo solr7-jmx > /root/{{ solr_service_name }}/solr7-jmx.txt"
      become: yes
      become_user: root

  when: jmx_step.stat.exists == False and extract_step.stat.exists == True