# file: roles/solr/tasks/main.yml
---

- name: Ensure dependencies are installed.
  package: name={{ item }} state=present
  become: true
  become_user: root
  with_items:
    - lsof
    - acl
    - sudo

# Ensure Java 1.8+ is present
- name: Ensure Java Installed
  shell: java -version 2>&1 | grep version | awk '{print $3}' | sed 's/"//g'
  register: java_version
- assert: { that: "java_version.stdout | version_compare('1.7', '>=')", msg: "Java must be present before being able to install Solr" }

- name: Check if the version of Solr already exists
  stat:
    path: "{{ solr_install_dir }}/solr-{{ solr_version }}"
  register: solr_path

- name: Check if {{ solr_install_dir }} exists
  stat:
    path: "{{ solr_install_dir }}"
  register: install_path
  when: solr_path.stat.exists == False

- name: Create the solr group
  become: true
  become_user: root
  group:
    name: "{{ solr_group }}"
    state: present
    system: yes
  when: solr_path.stat.exists == False

- name: Create the solr user
  become: true
  become_user: root
  user:
    name: "{{ solr_user }}"
    groups: "{{ solr_group }}"
    append: yes
  when: solr_path.stat.exists == False

- name: Check if Solr is downloaded
  stat:
    path: "{{ tmp_dir }}/solr-{{ solr_version }}.tgz"
  register: solr_downloaded
  when: solr_path.stat.exists == False

- name: Download Solr
  get_url:
    url: "{{ solr_download_url }}"
    dest: "{{ tmp_dir }}/solr-{{ solr_version }}.tgz"
  when: solr_path.stat.exists == False and solr_downloaded.stat.exists == False

- name: Create {{ solr_install_dir }} if it doesn't exist
  become: true
  become_user: root
  file:
    path: "{{ solr_install_dir }}"
    state: directory
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    mode: 0755
    recurse: yes
  when: install_path.stat.exists == False and solr_path.stat.exists == False

- name: Extract Solr
  become: true
  become_user: "{{ solr_user }}"
  unarchive:
    src: "{{ tmp_dir }}/solr-{{ solr_version }}.tgz"
    dest: "{{ solr_install_dir }}"
    copy: no
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    creates: "{{ solr_install_dir }}/solr-{{ solr_version }}"
  when: solr_path.stat.exists == False

- name: Create Symlink
  become: true
  become_user: "{{ solr_user }}"
  file:
    src: "{{ solr_install_dir }}/solr-{{ solr_version }}"
    dest: "{{ solr_home }}"
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    state: link
  when: solr_path.stat.exists == False

- name: Install {{ solr_service_name }} to /etc/init.d
  template:
    src: solr.j2
    dest: "/etc/init.d/{{ solr_service_name }}"
    owner: root
    group: root
    mode: 0744
  become: true
  become_user: root
  when: solr_path.stat.exists == False

- name: Install Solr Env to {{ solr_install_dir }}/{{ solr_service_name }}
  become: true
  become_user: "{{ solr_user }}"
  template:
    src: solr.in.sh.j2
    dest: "{{ solr_home }}/bin/solr.in.sh"
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    mode: 0755
  when: solr_path.stat.exists == False

- name: Copy default configset to create new configset
  become: true
  become_user: "{{ solr_user }}"
  shell: "cp -Rpf {{ solr_home }}/server/solr/configsets/_default {{ solr_home }}/server/solr/configsets/arkcase"
  when: solr_path.stat.exists == False

- name: Create ArkCase configset
  become: true
  become_user: "{{ solr_user }}"
  copy:
    src: "{{ item }}"
    dest: "{{ solr_home }}/server/solr/configsets/arkcase/conf"
    owner: "{{ solr_user }}"
    group: "{{ solr_group }}"
    mode: 0644
  with_items:
   - schema.xml
   - solrconfig.xml
  when: solr_path.stat.exists == False

- name: Delete default managed-schema
  become: true
  become_user: "{{ solr_user }}"
  file:
    path: "{{ solr_home }}/server/solr/configsets/arkcase/conf/managed-schema"
    state: absent
  when: solr_path.stat.exists == False

- name: Start Solr
  become: true
  become_user: root
  service: { name: solr, state: restarted }
  when: solr_path.stat.exists == False

- name: Create ArkCase Solr Cores
  become: true
  become_user: "{{ solr_user }}"
  shell: "{{ solr_bin }} create -c {{ item }} -d {{ solr_home }}/server/solr/configsets/arkcase"
  with_items:
   - "{{ solr_cores }}"
  when: solr_path.stat.exists == False

- name: Restart Solr
  command: echo Restarting Solr
  become: true
  become_user: root
  notify: "restart solr"
  when: solr_path.stat.exists == False