# Uninstall old version of Solr
---
- name: Check if 'uninstall' ran previously...
  stat:
    path: "/root/{{ solr_service_name }}/solr7-uninstall.txt"
  register: uninstall_step
  become: yes
  become_user: root

- name: Uninstall Solr {{ solr_version_old }}
  block: 
    - set_fact:
        solr_version_le6: "{{ solr_version_old | version_compare('6', '<=') | bool}}"
    
    - name: Check if Solr {{ solr_version_old }} service exists in /etc/init.d
      stat:
        path: "/etc/init.d/{{ solr_service_name_old }}"
      register: solr_service_path_old

    - name: Check if the version of Solr already exists
      stat:
        path: "{{ solr_install_dir_old }}/solr-{{ solr_version_old }}"
      register: solr_path_old_g5
      when: solr_version_le6 == False

    - name: Check if the version of Solr already exists
      stat:
        path: "{{ solr_install_dir_old }}/solr"
      register: solr_path_old_le5
      when: solr_version_le6 == True

    # Organize uninstall facts
    - set_fact:
        solr_path_old: "{{ (solr_version_le6 | bool) | ternary(solr_path_old_le5, solr_path_old_g5) }}"

    - fail:
        msg: "Unable to find old installation of Solr"
      when: solr_service_path_old.stat.exists == False and solr_path_old.stat.exists == False

    - name: Stop old Solr
      shell: "service {{ solr_service_name_old }} stop"
      when: solr_service_path_old.stat.exists == True
      become: yes
      become_user: root
      register: stop_result
      failed_when: "'ERROR' in stop_result.stderr"

    # Solr has stopped, now move old installation if preserve_old true otherwise delete old installation
    - name: Cleanup directory block
      block:
        - name: Solr Pre version 6 block
          block:
            - name: Pre version 6 preserve block
              block:
                - name: Move old installation to new versioned directory (preserve)
                  shell: "mv {{ solr_install_dir_old }}/{{ solr_service_name_old }} {{ solr_install_dir_old }}/{{ solr_service_name_old }}-{{ solr_version_old }}"
                  become: yes
                  become_user: root

                - name: Cleanup old service script (preserve)
                  shell: "mv /etc/init.d/{{ solr_service_name_old }} /etc/init.d/{{ solr_service_name_old }}-{{ solr_version_old }}"
                  become: yes
                  become_user: root
              when: solr_preserve_old  == true

            - name: Pre version 6 non-preserve block
              block:
                - name: Cleanup old installation
                  file:
                    path: "{{ solr_install_dir_old }}/{{ solr_service_name_old }}"
                    state: absent
                  become: yes
                  become_user: root
                - name: Cleanup old service script
                  file:
                    path: "/etc/init.d/{{ solr_service_name_old }}"
                    state: absent
                  become: yes
                  become_user: root
              when: solr_preserve_old == false
          when: solr_version_le6 == True
        - name: Solr version 6+ block
          block:
            - name: Solr version 6+ preserve block
              block:
                - name: Cleanup old symlink (preserve)
                  file:
                    path: "{{ solr_install_dir_old }}/{{ solr_service_name_old }}"
                    state: absent
                  become: yes
                  become_user: root

                - name: Cleanup old service script (preserve)
                  shell: "mv /etc/init.d/{{ solr_service_name_old }} /etc/init.d/{{ solr_service_name_old }}-{{ solr_version_old }}"
                  become: yes
                  become_user: root
              when: solr_preserve_old  == true
            - name: Solr version 6+ non-preserve block
              block:
                - name: Cleanup old symlink
                  file:
                    path: "{{ solr_install_dir_old }}/{{ solr_service_name_old }}"
                    state: absent
                  become: yes
                  become_user: root
                - name: Cleanup old installation
                  file:
                    path: "{{ solr_install_dir_old }}/{{ solr_service_name_old }}-{{ solr_version_old }}"
                    state: absent
                  become: yes
                  become_user: root
                - name: Cleanup old service script
                  file:
                    path: "/etc/init.d/{{ solr_service_name_old }}"
                    state: absent
                  become: yes
                  become_user: root
              when: solr_preserve_old == false
          when: solr_version_le6 == False

    - name: Remove old exposed Solr Port {{ solr_port_old }}
      become: yes
      become_user: root
      command: "firewall-cmd --remove-port={{ solr_port_old }}/tcp --permanent --zone={{ firewall_default_zone }} && firewall-cmd --reload"

    - name: Delete old installation status
      file:
        path: "/root/{{ solr_service_name_old }}"
        state: absent
      become: yes
      become_user: yes

    - name: Write uninstall step
      shell: "mkdir -p /root/{{ solr_service_name }} && echo solr7-uninstall > /root/{{ solr_service_name }}/solr7-uninstall.txt"
      become: yes
      become_user: root

  when: uninstall_step.stat.exists == False