SOLR_OPTS="$SOLR_OPTS -Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.local.only={{ solr_jmx_local_only }} -Dcom.sun.management.jmxremote.ssl={{ solr_jmx_ssl }} -Dcom.sun.management.jmxremote.authenticate={{ solr_jmx_authenticate }} -Dcom.sun.management.jmxremote.port={{ solr_jmx_port }} -Dcom.sun.management.jmxremote.rmi.port={{ solr_jmx_rmi_port }} -Dcom.sun.management.jmxremote.access.file={{ solr_jmx_access_file }} -Dcom.sun.management.jmxremote.password.file={{ solr_jmx_password_file }} -Djava.rmi.server.hostname={{ solr_jmx_rmi_hostname }}"