# file: roles/solr/vars/main.yml
# vars file for solr
---
tmp_dir: /tmp
firewall_default_zone: public
firewall_expose_ports: true
firewall_expose_jmx_ports: false

solr_uninstall_old: true
solr_install_dir_old: /opt/app/acm
solr_port_old: 8983
solr_version_old: 4.8.1
solr_preserve_old: true
solr_service_name_old: solr
solr_stop_port_old: 8079
solr_stop_key_old: gdead
uninstall_vars:
  - solr_version_old
  - solr_preserve_old
  - solr_service_name_old
  - solr_stop_port_old
  - solr_stop_key_old
  - solr_port_old
  - solr_install_dir_old

solr_host: localhost
solr_port: 8983
solr_stop_port: 8079
solr_stop_key: gdead
solr_service_name: solr
solr_user: webuser
solr_group: webuser
solr_install_dir: /opt/app/acm
solr_version: 7.2.1
solr_download_url: "https://archive.apache.org/dist/lucene/solr/{{ solr_version }}/solr-{{ solr_version }}.tgz"
solr_home: "{{ solr_install_dir }}/{{ solr_service_name }}"
solr_bin: "{{ solr_home }}/bin/solr"
solr_create_cores: true
solr_cores:
  - acmAdvancedSearch
  - acmQuickSearch
solr_should_start: true

# SSL
# If SSL enabled, stores must exist on remote src
solr_ssl_enabled: false
solr_ssl_key_store:
solr_ssl_key_store_password:
solr_ssl_key_store_type:
solr_ssl_trust_store:
solr_ssl_trust_store_password:
solr_ssl_trust_store_type:
solr_ssl_need_client_auth:
solr_ssl_want_client_auth:
ssl_vars:
  - solr_ssl_key_store
  - solr_ssl_key_store_password
  - solr_ssl_key_store_type
  - solr_ssl_trust_store
  - solr_ssl_trust_store_password
  - solr_ssl_trust_store_type
  - solr_ssl_need_client_auth
  - solr_ssl_want_client_auth

# JMX Settings
solr_jmx_enabled: true
solr_jmx_local_only: "{{ false | bool }}"
solr_jmx_ssl: "{{ false | bool }}"
solr_jmx_authenticate: "{{ true | bool }}"
solr_jmx_port: 50502
solr_jmx_rmi_port: 50503
solr_jmx_rmi_hostname: "{{ solr_host }}"
solr_jmx_password_file: "{{ solr_home }}/password.file"
solr_jmx_access_file: "{{ solr_home }}/access.file"
jmx_vars:
  - solr_jmx_local_only
  - solr_jmx_ssl
  - solr_jmx_authenticate
  - solr_jmx_port
  - solr_jmx_rmi_port
  - solr_jmx_rmi_hostname
  - solr_jmx_password_file
  - solr_jmx_access_file