# file: roles/solr/vars/main.yml
# vars file for solr
---
tmp_dir: /tmp

solr_host: localhost
solr_port: 8983
solr_service_name: solr
solr_user: webuser
solr_install_dir: /opt/app/acm
solr_version: 7.2.1
solr_download_url: "https://archive.apache.org/dist/lucene/solr/{{ solr_version }}/solr-{{ solr_version }}.tgz"
solr_home: "{{ solr_install_dir }}/{{ solr_service_name }}"
solr_bin: "{{ solr_home }}/bin/solr"
solr_cores:
  - acmAdvancedSearch
  - acmQuickSearch

# SSL
solr_ssl_enabled: false
solr_ssl_key_store:
solr_ssl_key_store_password:
solr_ssl_key_store_type:
solr_ssl_trust_store:
solr_ssl_trust_store_password:
solr_ssl_trust_store_type:
solr_ssl_need_client_auth:
solr_ssl_want_client_auth: